<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/includes/header">
</head>

<body>
	
    <div class="background"></div>
	<div th:replace="/includes/nav">
	</div>
	<div class="title-area">
        <div class="title" style="font-family: 'Noto Sans Light',sans-serif;">잘못된 접근입니다.</div>
    </div>
        

<script type="text/javascript" src="/lib/jquery-2.2.0.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/index.css"/>
</body>
</html>
