<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/includes/header">
</head>
    <body>
	<div th:replace="/includes/nav">
	</div>
      <div class="signup-box z-depth-2">

          <h4>Create a Account</h4>

          <form class="signup-form" action="/member" method="POST">
          	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="row">
                <div class="input-field col s12">
                  <input id="user_name" name="uid" type="text" class="validate"/>
                  <label for="user_name">Username</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="email" name="uemail" type="email" class="validate"/>
                    <label for="email">Email</label>
                  </div>
                </div>

           <div class="row">
                <div class="input-field col s12">
                  <input id="password" name="upw" type="password" class="validate"/>
                  <label for="password">Password</label>
                </div>
           </div>
              <input class="signup-btn waves-effect waves-light btn" type="submit" value="가입하기" />
          </form>

      </div>

      <script type="text/javascript" src="/lib/jquery-2.2.0.min.js"></script>
      <script type="text/javascript" src="/lib/materialize.min.js"></script>
    </body>
  </html>
