<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<header>
	<div class="header-wrapper">
		<a href="#" class="brand-logo">JWP Trello</a>
		<ul>
			<div sec:authorize="isAuthenticated()">
			<form class="logout-form" action="/logout" style="display:inline;" method="post">
				<input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<li><a href="#" onclick="logoutSubmit()">Sign out</a></li>
			</form>
				<li><a href="#">개인정보 수정</a></li>
			</div>
			<div sec:authorize="!isAuthenticated()">
				<li><a href="/login">Sign in</a></li>
			</div>
		</ul>
	</div>
</header>
</html>
<script>
function logoutSubmit(){
	$('.logout-form').submit();
}
</script>